<h1 class="headline">Web Based SQM Parser Test</h1>
<div style="margin: 10px;">
  <mat-card *ngFor="let function of functions" [ngStyle]="newColour()">
    <mat-card-title><b>{{function.name}}</b></mat-card-title>
    <mat-card-content>
      <p>{{function.description}}</p>
      <mat-icon>{{function.image}}</mat-icon>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>{{function.function}}</button>
    </mat-card-actions>
  </mat-card>
</div>
<h3 class="subheading-2">Concept by John Allison</h3>
