input {
  display: flex;
  flex-direction: row;
  text-align: left;
  background-color: transparent;
  border: none;
  border-bottom-color: transparent;
  width: 100%;
  font-size: 14px;
}

input:focus {
  background-color: #78866B;
  outline-color: transparent;
}
