<!-- Header Toolbar -->
<div class="toolbar div">
  <h1 class="unselectable">SQM Parser</h1>
  <!-- Functions -->
  <app-functions [isComplete]="isComplete" [missionTree]="missionTree" [fileName]="fileName"></app-functions>
</div>
<div class="content div">
  <!-- Input -->
  <div class="center-div div" *ngIf="!isConfirmed && !fileReaderString && !isComplete" (drop)="onDrop($event)" (dragover)="onDragOver($event)" (dragleave)="onDragEnd($event)">
    <input type="file" accept=".sqm" id="SQMselect" (change)="onFileChanged($event)">
    <!-- https://www.academind.com/learn/angular/snippets/angular-image-upload-made-easy/ [Online] Accessed 9th October 2018-->
    <label class="input unselectable" for="SQMselect">{{isDraggingFile ? 'Drop File To Upload!' : 'Click to Select File!'}}</label>
  </div>
  <!-- Cancel & confirmation button -->
  <div class="center-div div" *ngIf="!isConfirmed && !isComplete && fileReaderString">
    <button class="input" (click)="cancelSelection()">Cancel</button>
    <button class="input" (click)="confirmSelection()">Confirm</button>
  </div>
</div>
<!-- AST List -->
<cdk-virtual-scroll-viewport itemSize="getMaxSize()" [ngStyle]="{ 'height' : missionTree.length > 1 ? '' : '0'}">
  <div *cdkVirtualFor="let node of missionTree; templateCacheSize: 0" class="item">
    <div class="tooltip" (input)="onEdit($event)" contenteditable="true" [ngStyle]="{ 'background' : node.error ? 'linear-gradient(to bottom, transparent 0, transparent 90%, #ff5572 80%, #ff5572 80%)' : 'transparent'}">
      {{parser.traverseNodeValue(node) || 'Loading...'}}
      <span class="tooltiptext" *ngIf="node.error">{{node.error}}</span>
    </div>
  </div>
</cdk-virtual-scroll-viewport>
<!-- Message Box -->
<app-dialogue [dialogueText]="dialogueError"></app-dialogue>
<!-- Context Menu -->
<app-context-menu [showContextMenu]="showContextMenu" [contextMenuX]="contextMenuX" [contextMenuY]="contextMenuY"></app-context-menu>
