<!-- Header Toolbar -->
<div class="toolbar div">
  <h1 class="unselectable" tabindex="-1">SQM Parser</h1>
  <!-- Functions -->
  <app-functions [isComplete]="isComplete" [missionTree]="missionTree" [fileName]="fileName"></app-functions>
</div>
<div class="content div">
  <!-- Input -->
  <div class="center-div div" *ngIf="!isConfirmed && !fileReaderString && !isComplete" (drop)="onDrop($event)" (dragover)="onDragOver($event)" (dragleave)="onDragEnd($event)">
    <input class="input-class" type="file" accept=".sqm" id="SQMselect" (change)="onFileChanged($event)" aria-hidden="true" required>
    <!-- https://www.academind.com/learn/angular/snippets/angular-image-upload-made-easy/ [Online] Accessed 9th October 2018-->
    <label class="input" for="SQMselect" tabindex="0">{{isDraggingFile ? 'Drop File To Upload!' : 'Click to Select File!'}}</label>
  </div>
  <!-- Cancel & confirmation button -->
  <div class="center-div div" *ngIf="!isConfirmed && !isComplete && fileReaderString">
    <button class="input" tabindex="0" (click)="cancelSelection()" (keydown.enter)="cancelSelection()">Cancel</button>
    <button class="input" tabindex="1" (click)="confirmSelection()" (keydown.enter)="confirmSelection()">Confirm</button>
  </div>
</div>
<!-- AST List -->
<!-- <cdk-virtual-scroll-viewport itemSize="1" [ngStyle]="{ 'height' : missionTree.length > 1 ? '' : '0'}" (click)="showContextMenu = false" spellcheck="false">
  <input type="text" *cdkVirtualFor="let node of missionTree; let index = index; templateCacheSize: 0;" [ngModel]="parser.traverseNodeValue(node)" (contextmenu)="onRightClick($event, index)" (ngModelChange)="editNode($event, index)" class="item" [title]="node.comment" spellcheck="false" [style.text-decoration]="node.error ? 'underline' : 'none'" [style.text-decoration-color]="node.error ? 'red' : 'transparent'">
</cdk-virtual-scroll-viewport> -->
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree">
  <!-- Leaf Node -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
    <li class="mat-tree-node">
      <button mat-icon-button disabled></button>
      {{node.name}}
    </li>
  </mat-tree-node>
  <!-- Expandable Node -->
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
    <li>
      <div class="mat-tree-node">
        <!-- <button mat-icon-button matTreeNodeToggle[attr.aria-label]="'toggle ' + node.name"> -->
        <button mat-icon-button>
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        {{node.name}}
      </div>
      <ul [class.tree-invisible]="!treeControl.isExpanded(node)">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>
  </mat-nested-tree-node>
</mat-tree>
<!-- Context Menu -->
<div class="context-menu-div unselectable div" *ngIf="showContextMenu" contextmenu="menu" [ngStyle]="{'left.px': contextMenuX, 'top.px': contextMenuY}">
  <button class="context-menu-button" (click)="deleteLine()" (keydown.enter)="deleteLine()">Delete Line</button>
  <button class="context-menu-button" (click)="addLine()" (keydown.enter)="addLine()">Add Line</button>
</div>
