<!-- Header Toolbar -->
<div class="toolbar div">
  <h1 class="unselectable">SQM Parser</h1>
  <!-- Functions -->
  <app-functions [isComplete]="isComplete" [missionTree]="missionTree" [fileName]="fileName"></app-functions>
</div>
<div class="content div">
  <!-- Input -->
  <div class="center-div div" *ngIf="!isConfirmed && !fileReaderString && !isComplete" (drop)="onDrop($event)" (dragover)="onDragOver($event)" (dragleave)="onDragEnd($event)">
    <input class="input-class" type="file" accept=".sqm" id="SQMselect" (change)="onFileChanged($event)">
    <!-- https://www.academind.com/learn/angular/snippets/angular-image-upload-made-easy/ [Online] Accessed 9th October 2018-->
    <label class="input unselectable" for="SQMselect">{{isDraggingFile ? 'Drop File To Upload!' : 'Click to Select File!'}}</label>
  </div>
  <!-- Cancel & confirmation button -->
  <div class="center-div div" *ngIf="!isConfirmed && !isComplete && fileReaderString">
    <button class="input" (click)="cancelSelection()">Cancel</button>
    <button class="input" (click)="confirmSelection()">Confirm</button>
  </div>
</div>
<!-- AST List -->
<cdk-virtual-scroll-viewport itemSize="1" [ngStyle]="{ 'height' : missionTree.length > 1 ? '' : '0'}">
  <input type="text" *cdkVirtualFor="let node of missionTree; let index = index; templateCacheSize: 0;"
  [ngModel]="parser.traverseNodeValue(node)" class="item" [title]="node.error"
  (click)="showContextMenu = false" (contextmenu)="onRightClick($event)"
  [style.border-bottom]="node.error ? 'underline' : 'none'" [style.text-decoration-color]="node.error ? 'red' : 'transparent'">
</cdk-virtual-scroll-viewport>
<!-- Context Menu -->
<app-context-menu [showContextMenu]="showContextMenu" [contextMenuX]="contextMenuX" [contextMenuY]="contextMenuY"></app-context-menu>
