.parent {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.content {
  width: 80%;
}

.sidenav {
  width: 20%;
  min-width: 120px;
}

.sidenav-header {
  height: 15%;
  background-color: #78866B;
  text-align: center;
}

.sidenav-header h1 {
  padding: 7.5%;
}

.sidenav-content {
  height: 70%;
  background-color: #4c5940;
}

.sidenav-footer {
  height: 15%;
  background-color: #78866B;
}
