<h1 mat-dialog-title>{{data.data}}</h1>
<div mat-dialog-actions>
  <!-- Dialogue Without Choice -->
  <button *ngIf="data.type === defaultType" (click)="onYesClick()" (keydown.enter)="onYesClick()" cdkFocusInitial tabindex="0" i18n>Okay</button>
  <!-- Dialogue With Choice -->
  <button *ngIf="data.type !== defaultType" (click)="onNoClick()" (keydown.enter)="onNoClick()" tabindex="0" i18n>No</button>
  <button *ngIf="data.type !== defaultType" [mat-dialog-close]="data" cdkFocusInitial tabindex="1" i18n>Yes</button>
</div>
